.jumbotron {
    text-align: center;
    background: blue;
    color: white;
}

.panel-heading {
    background: green;
    color: white;
    padding: 5px;
}

body {
}

.panel-body {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}